/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: blanchedalmond;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

a {
    color: #0066cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div {
    margin: 20px 0;
}
